body{
		background-color: #83A697;  /*#848484;*/
		margin-right: 40px;
		margin-left: 40px;
}

body.accueil3{
		background-color: #C8AD7F;
		margin-right: 40px;
		margin-left: 40px;
}


header{
			display: flex;
			justify-content: flex-end;
			align-items: center	;
}

header.accueil{
					background-color:  #83A697;
				}

header.accueil3{
					background-color:  #C8AD7F;;
				}



div.contenu{ width: 60%;
					 margin: auto;
					}


div#conteneur{display: flex;  }	

		header{background-color:  #83A697; 
				
				}

div.conteneur-projet1{ display: flex;
						background-color: #83A697;
						min-height: 70vh;
						
						}


div.index-projet1{
					display: flex;
					flex-direction: column;
					justify-content: center; 
					align-items: center;
					background-color: #F0FFFF; /*#EFEFEF;*/
					width: 80%;
					margin-left: 10px;
							   }


div.accueil3{
					display: flex;
					flex-direction: column;
					justify-content: center; 
					align-items: center;
					background-color: #EFEFEF;
					width: 80%;
					margin-right: ;
					
							   }




div.sectionadministrateur{
							display: flex;
							justify-content: center;
							align-items: center;
							margin-right: 35px;
	
						}


		h1.h1accueil{ text-align: center;
					}

		h1.titreAccueil{ border: solid red;
						 height: 100px ;
						 text-align: center;
						}

		h1.titreindexprojet1{ font-size: 2em; }

		h1.titreformulaire{ display: flex; 
							justify-content: center;
							align-items: center;
						}

		h1.titrepageaccueil{
							display: flex;
							justify-content: center;
							align-items: center;

						}






		p{ font-family: ; }

		p.imageAccueil{ text-align: center;
						}

		p.pindexprojet1{
							font-size: 1.5em;  }

		p.paragrapheweb{  
						 width: 85%;
						font-size: 1.2em;
						padding-left: 20px;
						}

		p.suivant-precedent{ display: flex; 
							 justify-content: center;
							 align-items: baseline;

							}

		p.application{ 
					   display: flex;
					   justify-content: center;
					   font-size: 1.2em;
					   width: 90%;
					   margin: auto;
					    }


		p.administrateur{ 
					   display: flex;
					   justify-content: center;
					   font-size: 1.2em;
					   width: 90%;
					   margin: auto;

					    }

		p.gestionnaire{ 
					   display: flex;
					   justify-content: center;
					   font-size: 1.2em;
					   width: 90%;
					   margin: auto;
					    }






#conteneur img{ width: 250px;  }

img.logoaccueil{ width: 700px;  }

img.photoweb{width: 500px;
			

			}

img.photohorloge{width: 750px;
                  margin-bottom: 40px;
                  margin-right: ;
              }

 img.administrateur{width: 650px;}

 img.entete{ width: 100px; }






section.section1, .section2, .section3{ border: solid black 2px;
		 										width: 30%; 
												height: 550px;
												margin: auto; /* espace entre les sections */ 
												border-radius: 20PX;
												margin-top: 20px;
												background-color: #FEFEFE;
												
											}

section.section1{  }

section.section2 iframe{ width: 450px;
								height: 300px;
								}

section.section3{  }

section.section1web{
					background-color: #FEFEFE;
					margin-left: 200px;
					}


section.section2web{background-color: #FEFEFE;
					justify-content: ;
					align-items: flex-end;

					}

section.sectionpage3{
						display: flex;
						align-items: flex-end;  
					}

section.administrateur2{
						 order: -1;
						
						}




nav.liens-enteteprojet1{	
							background-color: #C8AD7F ;
						}

nav.accueil{	
							background-color: F0FFFF;
						}



nav.liens-indexprojet1{ 
						display: flex;
						justify-content: center;
						align-items: center;
				        background-color: #C8AD7F ;
					    order: -1;
					    width: 20%;
							   }


nav.accueil3{ 
						display: flex;
						justify-content: center;
						align-items: center;
				        background-color:  #C8AD7F ; 
					    width: 20%;

							   }



nav.titrepageaccueil{
						border: solid red;
						background-color: #C8AD7F;
}

													/* barre supérieure (2ème en-tête) */
		ul.liens-enteteprojet1{ display: flex;
								justify-content: space-evenly;
								list-style-type: none;
								
								}

		ul.liens-indexprojet1{
								display: flex;
								flex-direction: column;
								list-style-type: none;
								
							}

							/* barre de navigation (latérale) */

		ul.liens-indexprojet1 a{	display: flex;
									flex-direction: column;
									justify-content: center;
									height: 50px;
									margin-right: 25px;
									text-decoration: none;
									font-size: 1.2em;
								}

		li.liens-enteteprojet1{ display: flex;
								justify-content: center;
								height: 50px;
								width: 18%;
								align-items: center;

								}

		li.liens-enteteprojet1:hover{ background-color: black; }

		li.liens-enteteprojet1 a{ text-decoration: none;
								  font-size: 1.5em;

								}

		a.suivant-precedent{
							display: flex;
							justify-content: center;
							width: 15%;
							text-decoration: none;

							}

		a.entrer{
							display: flex;
							justify-content: center;
							width: ;
							text-decoration: none;
							

							}



		/* couleurs au survol de tous les liens du site */

		a:hover{
			background-color: black;
			color: white;
		}

		a.accueil:hover{
			background-color: ;
			color: red;
		}



footer{ background-color: #F0FFFF;
				display: flex;
				justify-content: flex-end;
				flex-basis: 80px;
				margin-top: 10px;

			}


footer.accueil{ background-color: #83A697;
				display: flex;
				justify-content: flex-end;
				flex-basis: 80px;
				margin-top: 10px;

			}

footer.accueil3{ background-color: #EFEFEF;
				display: flex;
				justify-content: flex-end;
				flex-basis: 80px;
				margin-top: 10px;
				width:80%;

			}




