*
{
	box-sizing: border-box;
}

body, div, ul
{
	margin: 0;
	padding: 0;
}

body
{
	background: #F5F5F5;
	font-family: comic sans ms;
	font-size: ;
}

/* Page limitée en largeur et centrée */

div[class="general"]
{
	max-width: 1200px;
	margin: 0 auto;
}

header
{
	height: 80px;
	padding: 10px;
	background-color: lightgrey;
	font-size: 1rem;
}


a[id="bouton-mobile"]
{
	display: none;
}

nav
{
	background-color: lavender;
}

main 
{
	padding: 10px 30px 10px 30px;
	min-height: ;
	display: flex;
	width: 100%;
}

footer
{
	padding: 10px;
	background-color: lightgrey;
}

/* MENU DE NAVIGATION */


div[class="nav-et-main"]
{
	display: flex;
}


ul[class="menu"]
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}


ul[class="menu"] li
{
	flex: 1 1 auto;
}


ul[class="menu"] li a
{
	display: block;
	padding: 15px;
	background-color: ;
	text-align: center;
	border-right: solid 1px silver;
	border-bottom: solid 1px silver;
	font-size: 1.5rem;
	color: darkblue;
	text-decoration: none;
}


nav li:last-of-type a
{
	border-right: ;
}


nav a:hover
{
	background-color: silver;
}


ul[class="menu"] li a, ul[class="menu"] li a:visited
{
	display: block;
	padding: ;
	font-size: ;
	text-decoration: none;
	color: black;
}

ul[class="menu"]: hover
{
	background-color: lightsteelblue;
	color: brown;
}


/* SOUS MENU */



ul[class="sous-menu-1"], ul[class="sous-menu-2"]
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: lavender;
	display: none;
}


ul[class="sous-menu-1"] li , ul[class="sous-menu-2"] li
{
	flex: 1 1 auto;
}


ul[class="sous-menu-1"] li a , ul[class="sous-menu-2"] li a
{
	display: block;
	padding: 15px;
	background-color: ;
	text-align: center;
	border-right: solid 1px silver;
	border-bottom: solid 1px silver;
	font-size: 1rem;
	color: darkblue;
	text-decoration: none;
}



/* --------------POSITIONNEMENT DES SOUS-MENUS-------------------*/

li[class="projets"]
{
	position: relative;
}

ul[class="sous-menu-1"]
{
	
	position: absolute;  
	left: 7.4rem; 
	bottom: -5rem;


}


li[class="veilles"]
{
	position: relative;
}

ul[class="sous-menu-2"]
{
	
	
	position: absolute;
	left: 7.4rem;
	bottom: -5rem;
}




/* SURVOL SOUS MENU */



li[class="projets"]:hover ul
{
	display: initial;
}

li[class="veilles"]:hover ul
{
	display: initial;
}



/* SECTION */

section
{
	
	width: 100%;

}


