*
{
	box-sizing: border-box;
}

body, div, ul
{
	margin: 0;
	padding: 0;
}

body
{
	background: #F5F5F5;
	font-family: comic sans ms;
	font-size: /*0.8rem*/;
}

/* Page limitée en largeur et centrée */

div[class="general"] 
{
	/* max-width: 1200px; */
	margin: 0 auto;


}


P[class="pied"]
{
	display: flex;
	flex-direction: column;
	width: 19.5%;
	justify-content: center;
	align-items: center;
}


/*----------------------------------EN TÊTE -----------------------------*/

header       
{
	height: 150px;
	padding: 10px;
	background-color: lightgrey;
	font-size: 1rem;
	display: flex;
}


div[class="entete-1"]    
{
	
	width: 50%;
	display: flex;
	align-items: center;
}

div[class="entete-2"]   
{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

h1[class="entete"]   
{
	
	padding-right: 30px;
}


img[class="entete"]
{
	width: 20%;
}


/*-------------------------------MENU VERTICAL ------------------------------*/


a[id="bouton-mobile"]     
{
	display: none;
}

nav[class="laterale"]                  
{
	background-color: lavender;
	width: ;
	border: ;
	
}

main               
{
	padding: 10px 10px 10px 30px;
	min-height: ;
	display: flex;
	flex-direction: ;
	width: 100%;
}

footer           
{
	padding: 10px;
	background-color: lightgrey;
}


/*--------------------- MENU DE NAVIGATION GAUCHE------------------------*/


div[class="nav-et-main"]        
{
	display: flex;
	min-height: 50rem;

}


ul[class="menu"]              
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}


ul[class="menu"] li       
{
	flex: 1 1 auto;
}


ul[class="menu"] li a       
{
	display: block;
	padding: 15px;
	background-color: ;
	text-align: ;
	border-right: solid 1px silver;
	border-bottom: solid 1px silver;
	font-size: 1.5rem;
	color: darkblue;
	text-decoration: none;
}


nav li:last-of-type a    
{
	border-right: ;
}


nav a:hover   
{
	background-color: silver;
}


ul[class="menu"] li a, ul[class="menu"] li a:visited    
{
	display: block;
	padding: 15px 20px;
	font-size: 0.9rem;          /* LA TAILLE DU TEXTE DES LIENS DE NAVIGATION */
	text-decoration: none;
	color: black;
}

ul[class="menu"]:hover       
{
	background-color: lightsteelblue;
	color: brown;
}


/*--------------------------- SOUS MENU GAUCHE ---------------------------*/


ul[class="sous-menu-1"], ul[class="sous-menu-2"]   
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: lavender;
	display: none;
}


ul[class="sous-menu-1"] li , ul[class="sous-menu-2"] li 
{
	flex: 1 1 auto;
}


ul[class="sous-menu-1"] li a , ul[class="sous-menu-2"] li a 
{
	display: block;
	padding: 15px;
	background-color: ;
	text-align: center;
	border-right: solid 1px silver;
	border-bottom: solid 1px silver;
	font-size: 1rem;
	color: darkblue;
	text-decoration: none;
	width: 12rem;
}




/* --------------POSITIONNEMENT DES SOUS-MENUS GAUCHE-------------------*/ 

li[class="projets"]
{
	position: relative;
}

ul[class="sous-menu-1"]
{
	
	position: absolute;  
	left: 10.45rem; 
	bottom: -5rem;

}


li[class="veilles"]
{
	position: relative;
}

ul[class="sous-menu-2"]
{

	position: absolute;
	left: 10.45rem;
	bottom: -5rem;
}




/*------------------ SURVOL SOUS MENU GAUCHE -------------------------*/



li[class="projets"]:hover ul     
{
	display: initial;
}

li[class="veilles"]:hover ul
{
	display: initial;
}



/* ----------------------------SECTION CENTRALE ---------------------*/  

section  
{

	width: 100%;

}


section[class="centrale"] 
{

	width: 100%;
	display: ;

}





/*----------------------MENU NAVIGATION ENTETE --------------------------*/



nav[class="entete"]
{
	display: flex;

}


ul[class="entete"]
{
	list-style-type: none;
	display: flex;
	padding: 30px;
}



li[class="entete"]
{
	flex: 0 1 auto;
}



a[class="sous-entete"], a[class="sous-entete"]:visited
{
	display: block;
	padding: 10px 17px;
	font-size: 0.9rem;
	text-decoration: none;
	color: ;
	width: 12rem;
	text-align: center;
}


/*--------------------- NAVIGATION SOUS ENTÊTE -----------------------------*/


ul[class="sous-entete-1"], ul[class="sous-entete-2"]   
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: lavender;
	display: none;
}


ul[class="sous-entete-1"] li , ul[class="sous-entete-2"] li 
{
	flex: 1 1 auto;
}


ul[class="sous-entete-1"] li a , ul[class="sous-entete-2"] li a 
{
	display: block;
	padding: 15px;
	background-color: ;
	text-align: center;
	border-right: solid 1px silver;
	border-bottom: solid 1px silver;
	font-size: 1rem;
	color: darkblue;
	text-decoration: none;
	width: 10rem;
}


/* --------------POSITIONNEMENT DES SOUS-MENUS GAUCHE-------------------*/ 

li[class="projet"]
{
	position: relative;
}

ul[class="sous-entete-1"]
{
	position: absolute;  
	top: 2.42rem;
}


li[class="veill"]
{
	position: relative;
}

ul[class="sous-entete-2"]
{
	position: absolute;
	top: 2.40rem;
}



/*------------------ SURVOL SOUS EN-TETE -------------------------*/



li[class="projet"]:hover ul     
{
	display: initial;
	background-color: lightgrey;
}

li[class="veill"]:hover ul
{
	display: initial;
	background-color: lightgrey;
}


/*--------------SECTION LATERALE GAUCHE -------------------------*/

aside[class="laterale-gauche"]
{
	display: flex;
	flex-direction: column;
	width: 26%;
	height: 40rem;
	background-color: lavender;
}

article[class="portrait"]
{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


p[class="portrait"]
{
	display: flex;
	height: 300px;
}



label[class="tel-texte"]
{

	height: 2rem;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	margin-left: 15px;
}

label[class="tel"]
{
	height: 1.5rem;
	font-size: 0.8rem;
	display: flex;
	align-items: center;
}

label[class="etablissement"]
{
	height: 3rem;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	margin-left: 15px;
}



label[class="portrait"]
{
	
	height: 1.5rem;
	font-size: 0.8rem;
	display: flex;
	align-items: center;
}

a[class="portrait"]
{
	padding: 0px;
	margin: 0px;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}



h3[class="portrait"]
{

}

/*---------------SECTION  ACCUEIL ------------------*/


p[class="nom"]
{
	font-size: 1.4rem;
	padding: 10px 17px;
}


p[class="statut"]
{
	font-size: 1.2rem;
	padding: 10px 17px;
}


p[class="profil-titre"], p[class="qualification-titre"]
{
	padding: 10px 17px;
	margin: 0px;
	font-size: 1rem;
}

p[class="profil"], p[class="qualification"]
{
	padding: 10px 17px;
	margin: 0px;
	font-size: 0.8rem;
}


p[class="applications"], p[class="web"]
{
	border: solid black 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 17px;
	margin-left: 10px ;
	width: 30%;
	border-radius: 20px;
	font-size: 0.9rem;

}



div[class="centrale"]
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div[class="statut"]
{
	display: flex;
}


div[class="nom"]
{
	margin: 0px;
	padding: 10px 17px;
}

span[class="nom"]
{

}


span[class="profil"], span[class="qualification"]
{
	font-weight: bolder;
}


/*-------------- CV -----------------------*/

article[class="competence"]
{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-left: 50px;
}

p[class="competence"]
{
	font-size: 1.3em;
	font-weight: bold;
	color: #26619C;
	margin-left: 10px;
}

p[class="informatiques"], p[class="anglais"]
{
	margin-left: 10px;
	font-size: 1rem;
	font-weight: bold;
}


ul[class="competence"]
{
	display: flex;
	flex-direction: column;
	margin-left: 45px;
}


li[class="competence"]
{
	list-style-type: none;
	
}

a[class="projets"]
{
	display: flex;
	text-decoration: none;
}


span[class="italic"]
{
	font-style: italic;
}

span[class="gras"]
{
	font-weight: bold;
}

span[class="gras-nom"]
{
	font-weight: bold;
	font-size: 1.4em;
}

span[class="gras-italic"]
{
	font-style: italic;
	font-weight: bold;
}

span[class="gras-titre"]
{
	font-size: 1.3em;
	font-weight: bold;
	color: #26619C;
}






/*-------------- CONTACT -----------------------*/

div[class="contact"]
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

form[class="contact"]
{
	
	height: 28rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

td[class="input-contact"]
{

	width: 70%;
	justify-content: center;
	align-items: center;
}

table[class="contact"]
{
	
	width: 70%;
}

input[class="contact"]
{
	
	height: 35px;
	width: 100%;
	border: none;
}

textarea[class="contact"]
{
	
	height: 35px;
	width: 100%;
	border: none;
}

label[class="contact"]
{

	display: flex;
	justify-content: flex-end;
}


h1[class="titre"]
{

	width: 70%;
}


label[class="contact"], input[class="contact"], textarea[class="contact"]
{
	margin-left: 7px;
}



/*-------------------------------------PAGES PROJETS / TRAVAUX ---------------------------------*/


nav[class="laterale-gauche"]
{
	display: flex;
	flex-direction: column;
	width: 26%;
	min-height: 50rem;
	background-color: lavender;
}


nav[class="projets"]
{

	display: flex;
	flex-direction: column;
	width: 100%;
}


article[class="portrait"]
{
	border: ;
}



p[class="logo-html"]
{
	display: flex;
	justify-content: center;
	align-items: center;
	border:  ;
}


li[class="projets"] a
{

	display: flex;
	text-decoration: none;
}



h1[class="projets"]
{
	display: flex;
	justify-content: center;
	align-items: center;
}


div[class="projets"]
{
	display: flex;
	flex-direction: ;
	width: 100%
}


ul[class="projets"]              
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}


ul[class="projets"] li       
{
	flex: 1 1 auto;
}


a[class="projets"]      
{
	display: block;
	padding: 15px;
	background-color: ;
	text-align: ;
	border-right: solid 1px silver;
	border-bottom: solid 1px silver;
	font-size: 1.5rem;
	color: darkblue;
	text-decoration: none;
}


nav li:last-of-type a  
{
	border-right: ;
}


a[class="projets"]:hover   
{
	background-color: silver;
}


a[class="projets"], a[class="projets"]:visited    
{
	display: block;
	padding: 15px 20px;
	font-size: 0.9rem;          /* LA TAILLE DU TEXTE DES LIENS DE NAVIGATION */ 
	text-decoration: none;
	color: black;
}

ul[class="projets"]:hover     
{
	background-color: /*lightsteelblue */;  
	color: brown;   
}

/* SOUS PROJETS PERSONNALISEES */


ul[class="sous-projets"]              
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: none;
}


ul[class="sous-projets"] li       
{
	flex: 1 1 auto;
}


a[class="sous-projets"]    
{
	display: block;
	padding: 15px;
	background-color: ;
	text-align: ;
	border-right: solid 1px silver;
	border-bottom: solid 1px silver;
	font-size: 1.5rem;
	color: darkblue;
	text-decoration: none;
}


a[class="sous-projets"]:hover   
{
	background-color: silver;
}


a[class="sous-projets"], a[class="sous-projets"]:visited    
{
	display: block;
	padding: 15px 20px;
	font-size: 0.9rem;          /* LA TAILLE DU TEXTE DES LIENS DE NAVIGATION */
	text-decoration: none;
	color: black;
}

ul[class="sous-projets"]: hover     
{
	background-color: lightsteelblue;
	color: brown;
}



/*--------------------------------------PAGE TP HTML ---------------------------------*/

li[class="html"] a
{

	display: flex;
	text-decoration: none;
}


ul[class="html"]             
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: none;     
}


ul[class="html"] li    
{
	flex: 1 1 auto;
}


a[class="html"]      
{
	display: block;
	padding-left: 35px;
	background-color: ;
	text-align: ;
	font-size: 1rem;
	color: darkblue;
	text-decoration: none;
}


nav li:last-of-type a  
{
	border-right: ;
}


a[class="html"]:hover   
{
	background-color: silver;
}


a[class="html"], a[class="html"]:visited    
{
	display: block;
	padding: ;
	font-size: 0.9rem;          /* LA TAILLE DU TEXTE DES LIENS DE NAVIGATION */ 
	text-decoration: none;
	color: ;
}


article[class="web"]
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}


article[class="gestionnaire"]
{
	display: flex;
	flex-direction: column;
	width: 100%;
	/* height: 56vh; */
}


p[class="dev-web"]
{
	width: 98%;
}


p[class="gestionnaire"]
{
	width: ;
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


img[class="web"]
{
	width: 100%;
}


img[class="gestionnaire"]
{
	width: 56%;
}


/*--------------------------------------PAGE TP CSS ---------------------------------*/

li[class="css"] a
{

	display: flex;
	text-decoration: none;
}


ul[class="css"]              
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: none;
}


ul[class="css"] li    
{
	flex: 1 1 auto;
}


a[class="css"]      
{
	display: block;
	padding-left: 35px;
	background-color: ;
	text-align: ;
	font-size: 1rem;
	color: darkblue;
	text-decoration: none;
}


nav li:last-of-type a  
{
	border-right: ;
}


a[class="css"]:hover   
{
	background-color: silver;
}


a[class="css"], a[class="css"]:visited    
{
	display: block;
	padding: ;
	font-size: 0.9rem;          /* LA TAILLE DU TEXTE DES LIENS DE NAVIGATION */ 
	text-decoration: none;
	color: ;
}


 h1[class="css"]{

	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.section1{
	background-color: #E1CE9A;
}

.particle1{
	text-align: justify;
	padding: 10px;
}



section[class="section1"], section[class="section2"], section[class="section3"]
{
	width: 32%;
	display: flex;
	flex-direction: column;
	border: solid 2px #000000 ;
	border-radius: 6px;
	margin: 5px          /* espace les trois block  */
}

.section2{
	background-color: #FEE7F0;
}

.particle2{
	text-align: justify;
	padding: 10px;
}

.section3{
	background-color: #F0FFFF;
}

.article3{
	color: red;
}

.section3 p {

	margin: auto;

}

img[id="imagetp1"]{

	width: 100%;
	display: flex;
	justify-content: ;
	align-items: ;
	margin: auto;
}


section[class="css"]
{
	border: solid blue ;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	/* height: 64vh; */
}

article[class="css"]
{
	display: flex;
	justify-content: center;
}


/*-------TP CSS 2 --------*/



div[class="div-css"]
{
	border: ;
	display: flex;
	flex-direction: column;
	/* height: 64vh; */
	overflow-y: auto;
}

section[class="index"] {
	border: solid red;
	border-radius: 30px;
	padding: 15px;
}


.article1{
	border: solid green;
	border-radius: 30px;
	background-color: #FDE9E0;
	padding: 15px
}


.article2{
	border: solid green;
	border-radius: 30px;
	padding: 15px;
}

div.conteneurtp2{
	display: flex;
	flex-direction: column;
	background-color: white;
}



/* ---TP CSS 3 ---*/

div[class="tableau-tp3"]
{
	/* height: 55vh; */
	display: flex;
	justify-content: center;
	align-items: center;
}

table[class="tp3"] {
	border: 3px solid  #83A697;
	width: 100%;
	background-color: #E1CE9A; /*#D0E3FA;*/
	margin: auto;

}

th[class="tp3"] {
	font-family: arial;
	font-size: 1.20em;
	text-align: center;
	border: 1px solid #000099;
	background-image: url('');
}

td[class="tp3"]
{
	font-family: verdana;
	font-size: 0.80em;
	text-align: center;
	border: 1px solid #000099;
}



/* -----TP CSS 4 ----*/


table[class="tp4"]
{
	border: 3px solid #C7D0CC;
	width: 60%;
	background-color: #C7D0CC;
	margin: auto ;
}


th[class="titretableau"]
{
	font-family: arial;
	font-size: 1.20em;
	text-align: center;
	border: 1px solid #000099;
	background-image: url('');
	height: 200px;
}

td[class="pays"], td[class="texte"]
{
	font-family: verdana;
	font-size: 0.80em;
	text-align: center;
	border: 1px solid #000099;
	width: 50%;
}

td.texte{vertical-align: bottom;
}


div.conteneurtp3{

	display: flex;
}

h1.navigation{
	display: flex;
	justify-content: center;
	align-items: center;
}

a.navigation{
	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	text-decoration: none;
}


img[class="pays"]
{
	width: 76%;   /* L'image influence la taille du tableau */
}



/*--------------------------------------FORMULAIRE --------------------------------------*/





/*--------------------------------------iFRAME --------------------------------------*/

article[class="iframe"]
{
	display: flex;
	flex-direction: column;
	/* width: 100%; */
	/* height: 56vh; */
}


iframe[class="iframe"]
{
	height: 56vh;
	width: 100%;
}

li[class="iframe"] a
{

	display: flex;
	text-decoration: none;
}


ul[class="iframe"]             
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: none;     
}


ul[class="iframe"] li    
{
	flex: 1 1 auto;
}


a[class="iframe"]      
{
	display: block;
	padding-left: 35px;
	background-color: ;
	text-align: ;
	font-size: 1rem;
	color: darkblue;
	text-decoration: none;
}


nav li:last-of-type a  
{
	border-right: ;
}


a[class="iframe"]:hover   
{
	background-color: silver;
}


a[class="iframe"], a[class="iframe"]:visited    
{
	display: block;
	padding: ;
	font-size: 0.9rem;          /* LA TAILLE DU TEXTE DES LIENS DE NAVIGATION */ 
	text-decoration: none;
	color: ;
}


article[class="web"]
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}


article[class="gestionnaire"]
{
	display: flex;
	flex-direction: column;
	width: 100%;
	/* height: 56vh; */
}


p[class="dev-web"]
{
	width: 98%;
}


p[class="gestionnaire"]
{
	width: ;
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


img[class="web"]
{
	width: 100%;
}


img[class="gestionnaire"]
{
	width: 56%;
}



/*--------------------------------------SQL --------------------------------------*/


article[class="sql"]
{
	display: ;
	flex-direction: ;
	width: 100%;
	/* height: 56vh; */
	columns: 3 auto;     /*Pour faire fonctionner le multicolonage, il ne faut pas utiliser le 'flexbox'*/
	font-size: 0.8rem;
	padding: 10px 17px;
	overflow: auto;
}


h3[class="sql"]
{
	color: orangered;
}


/*--------------------------------------PHP --------------------------------------*/

article[class="php"]
{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 54vh;
}


p[class="php-titre"]
{
	padding: 10px 17px;
	margin: 0px;
	font-size: 1rem;
}

p[class="php"]
{
	padding: 10px 17px;
	margin: 0px;
	font-size: 0.8rem;
}




/*-------------------------------------JavaScript --------------------------------------*/

article[class="js"]
{
	display: flex;
	flex-direction: column;
	/* width: 100%; */
	/* height: 56vh; */
	text-align: ;
}


p[class="js-titre"]
{
	padding: 10px 17px;
	margin: 0px;
	font-size: 1rem;
}


nav[class="js"]
{
	padding: 10px 17px;
	margin: 0px;
	font-size: 0.8rem;
	width: 100%;
	/* height: 40rem; */
	background-color: ;
}

ul[class="js"]              
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction:;
	flex-wrap: wrap;

}


li[class="js"]    
{
	flex: 1 1 auto;
}



a[class="js"]      
{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 15px;
	background-color: ;
	border-right: solid 1px silver;
	border-bottom: solid 1px silver;
	font-size: 1.1vw;
	color: darkblue;
}



a[class="projets"]:hover   
{
	background-color: silver;
}


a[class="js"]:visited    
{
	display: flex;
	padding: 15px 20px;
	font-size: 0.9rem;          /* LA TAILLE DU TEXTE DES LIENS DE NAVIGATION */ 
	text-decoration: none;
	color: black;
}

ul[class="js"]:hover     
{
	background-color: /*lightsteelblue */;  
	color: brown;   
}




/*--------------------------------------VEILLES --------------------------------------*/


div[class="veilles"]
{
	display: flex;
	flex-direction: ;
	width: 100%
}

section[class="technologique"], section[class="juridique"]
{
	border: solid red;
	display: flex;
	flex-direction: ;
	width: 100%;
}


article[class="veille"]
{
	display: flex;
	flex-direction: column;
	width: 100%;
	/* height: 56vh; */
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: auto;
}

article[class="nav-veilles"]
{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


ul[class="veilles"]
{
	display: flex;
	flex-direction: column;
	/* height: 50px; */
	width: 100%;
	justify-content: center;
	align-items: center;
}


li[class="veilles"]
{
	list-style-type: none;
	
}


a[class="veilles"]
{
	width: 100%;
	display: flex;
	align-items: center;
	text-decoration: none;
}



p[class="veille-titre"]
{
	
	
	font-size: 1.1rem;
	width: 100%;
}

p[class="veille"]
{
	

	font-size: 0.8rem;
}


/*-------------------------VEILLE JURIDIQUE / TECHNOLOGIQUE-----------------------*/


article[class="juridique"]
{
	display: ;
	flex-direction: ;
	width: 100%;
	height: 55vh;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: auto;
}


nav[class="juridique"]
{
	display: flex;
	flex-direction: column;
	width: 100%;
}

ul[class="juridique"]
{
	list-style-type: none;
}

li[class="juridique"]
{
	margin-top: 15px;
	display: flex;
	flex: 1 1 auto;
}

img[class="juridique"]
{
	width: 15%;
}

img[class="juridique-zdnet"]
{
	width: 15%;
}

img[class="juridique-cert"]
{
	width: 7%;
	margin-left: 22px;
}

a[class="juridique"]
{
	border: ;
	height: 8vh;
	width: 100%;
	display: flex;
	flex-direction: ;
	justify-content: ;
	align-items: center;
	text-decoration: none;
}


figcaption[class="juridique"]
{
	display: ;
	justify-content: ;
	align-items: ;
	margin-left: 10px;
	width: 95%;
}

figcaption[class="juridique-cert"]
{
	display: ;
	justify-content: ;
	align-items: ;
	margin-left: 50px;
	width: 90%;
}

h1[class="juridique"]
{
	margin-left: 20px;
	height: 6vh;
	display: flex;
	align-items: center;
}


/*-------------------------FACTURE AUTOMATIQUE-----------------------*/

/* - Corps de la facture - */
.facture{
	font-family: comic sans ms;
	width: ;
	margin: 0 auto;
	background-color: lightblue;
	border-top: 16px solid grey;
	border-bottom: 16px solid grey;
	border-radius: 12px;
}

.text_area{
	border-bottom: 1px solid black;
}


/* - En-tête- */


.entete-facture{
	background-color: #008E8E;
	padding-bottom: 18px;
}


/* >> Partie gauche */


.gauche{
	display: flex;
	flex-direction: column;
}

img[class="automatique"] {
	margin: 2em;
	margin-right: 1em;
	border-radius: 50%;
}

.info_co{
	margin-left: -1.4em;
}

ul[class="info_co"] {
	list-style: none;
}

span.info{
	font-size: 12px;
}


/* >> Partie droite */


.droite{
	margin-top: auto;
	float: right;
	padding: 14px;
	padding-top: 1em;
	text-align: center;
}

span.titre{
	font-weight: bold;
	font-size: 24px;
	color: #969696;
}

#date, #n_facture{
	text-align: center;
}


/* - Contenu - */


.contenu{
	padding-top: 12px;
}


/* >> Destination & Condition */


.destination{
	font-size: 12px;
	margin-bottom: 12px;
}

span.condition{
	float: right;
	font-size: 12px;
	margin-right: 16px;
	margin-bottom: 6px;
	font-style: italic;
}

span.titre_dest{
	font-size: 14px;
	font-weight: bold;
}


/* >> Inventaire */


.inventaire{
	font-size: 10px;
	text-align: right;
}

.inventaire tr td input{
	text-align: right;
}

.table_inv{
	/* height: 8em; */
	margin: 0 auto;
}

table[class="automatique"] td input{
	min-width: 1px;
	max-width: 100%;
	width: 99%;
	border-style: none;
	background-color: transparent;
}

.table_inv tr td[class="automatique"] {
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}

table tr td .desc{
	text-align: left;
}

.entete_inv{
	text-align: center;
	background-color: #008E8E;
	color: white;
}

.firstrow td[class="automatique"] {
	border-top: 1px solid gray;
}

.lastrow td[class="automatique"] {
	border-bottom: 1px solid gray;
}

.inventaire .row:nth-child(even){
	background-color: #fff;
}

.inventaire .row:nth-child(odd){
	background-color: #e8e8e8;
}
#solde{
	font-weight: bold;
	font-size: 16px;
}


/*-------------------------MODULE DE FACTURATION-----------------------*/














/*------------------ MENU DÉROULANT ----------------------*/

nav[class="deroulant"] > ul
{
	margin: 0px;
	padding: 0px;
}

nav[class="deroulant"] li
{
	list-style-type: none;
}

nav[class="deroulant"] > ul > li
{
	float: left;
}

.sous-menu 
{
	display: none;   /*On cache les sous menus */
}


nav[class="deroulant"] input[type="checkbox"]
{
	display: none;
}

.menu-mobile
{
	display: none;   /*On cache le menu mobile */
}


nav[class="deroulant"] 
{
	width: 100%;
	background-color: #424558;
}


nav[class="deroulant"] > ul > li
{
	float: left;
	position: relative;
}

nav[class="deroulant"] ul::after
{
	content: "";
	display: table;
	clear: both;
}

nav[class="deroulant"] a
{
	display: inline-block;
	text-decoration: none;
}

nav[class="deroulant"] > ul > li > a
{
	padding: 20px 30px;
	color: #FFF;
}

nav[class="deroulant"] li:hover .sous-menu
{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;z-index: 100000;
}

.sous-menu li
{
	border-bottom: 1px solid #CCC;
}

.sous-menu li a
{
	padding: 15px 30px;
	font-size: 13px;
	color: #222538;
	width: 270px;
}

.menu-html:hover{
	border-top: 5px solid #e44d26;
	background-color: RGBa(228, 77, 38, 0.15);
}

.menu-css:hover{
	border-top: 5px solid #e44d26;
	background-color: RGBa(000, 112, 192, 0.15);
}

.menu-js:hover{
	border-top: 5px solid #e44d26;
	background-color: RGBa(241, 211, 79, 0.15);
}

.menu-contact:hover{
	border-top: 5px solid #e44d26;
	background-color: RGBa(220, 220, 220, 0.15);
}

nav[class="deroulant"] > ul > li:hover a
{
	padding: 15px 30px 20px 30px;
}

.menu-html .sous-menu{
	background-color: RGB(230, 100, 40);
}

.menu-css .sous-menu{
	background-color: RGB(000, 160, 240);
}

.menu-js .sous-menu{
	background-color: RGB(251, 216, 99);
}


.sous-menu li:hover a{
	color: #EEE;
	font-weight: bold;
}

.menu-html .sous-menu li: hover{
	background-color: RGB(210, 77, 60);
}

.menu-css .sous-menu li: hover{
	background-color: RGB(000, 115, 200);
}

.menu-js .sous-menu li: hover{
	background-color: RGB(200, 165, 75);
}


nav[class="deroulant"] input[type=checkbox]:checked ~ ul{
	display: block;
}


@media screen and (max-width:  680px)
{
	.menu-mobile 
	{
		display: block;
		color: #fff;
		background-color: rgba(29, 197, 151, 0.97);
		text-align: center;	
		padding: 12px 0;
	}

	nav[class="deroulant"] ul{
		display: none;
	}

	nav[class="deroulant"] ul li, nav[class="deroulant"] ul li a
	{
		width: 100%;
		text-align: center;
	}

	nav[class="deroulant"] ul li a, nav[class="deroulant"] ul li:hover a
	{
		padding: 10px 0px 10px 0px;
	}

	nav[class="deroulant"] li:hover .sous-menu{
		display: block;
		position: static;
	}
}



/*----------------------------QCM--------------------------------*/

section[class="qcm"]
{
	display: flex;
	flex-direction: column;
	justify-content: ;
	align-items: ;
	min-height: 55vh;
}

form[class="qcm"]
{
	display: flex;
	flex-direction: column;
	font-size: 0.8rem;
}

label[class="qcm"]
{
	padding: ;
	margin: auto;
	width: 45%;
	padding: 9px ;
}


p[class="t-qcm"]
{
	border: ;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #16B84E;
	font-weight: bolder;
	font-style: italic;
}

ul[class="qcm"]
{
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 32%;
}


table[class="boutons"]
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: ;
	width: 100%;
	margin-top: 1.5rem;
}

h3[class="titre"]
{
	display: flex;
	flex-direction: ;
	justify-content: flex-end;
	width: 100%;
	height: 2em;
	color: #7E3300;
}