body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header, footer{
	background-color: #83A697;
	flex-basis: 80px;
}

header
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

footer
{
	display: flex;
	justify-content: center;
	align-items: center;
}

aside, nav{
	flex: 1, 2, 20%
}


main 
{
	display: flex;
	flex-basis: 760px;
	order:solid black ;
	height: 100%%;
	border: ;
}

section
{
	display: grid;
	grid-template-columns: 40% 40%;
}

div
{
	display: grid;
	grid-template-columns: 1fr 1fr ;
	grid-template-rows:;
	border: ;
	height: 250px;
	width: 60%;
	align-content: center;
}
.div1, .div3
{
	justify-self: center;
	align-self: center;

}
.div2, .div4
{
	align-self: center;
}
.div1
{
	justify-self: right;
}
.div3
{
	justify-self: right;
}

h1
{
	border: ;
	height:  ;
	text-align: center;
	font-size: ;

}
.h1
{
	text-align: center;
}

h3{
	text-align: center;
}


nav
{
	background-color:  #C8AD7F;
	order: -1;
}

aside 
{
	background-color: #BBD2E1	 ;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 25%; }

aside, nav
{
	flex: 1 2 20%;
	margin:  ;
	padding: ;
}

img
{ 
	border: ;
	align-items: center;
}

figure
{
	font-size: 1.0em;
}

a 
{
	text-decoration: none;
}
a:hover
{
	background-color: red;
}

form
{

	border: ;
	width: ;


}

figcaption 
{
	font-size: 1.4;
}


