div{
	border: solid red;
	border-radius: 30px;
	padding: 15px;
}

.article1{
	border: solid green;
	border-radius: 30px;
	background-color: #FDE9E0;
	padding: 15px
}

.article2{
	border: solid green;
	border-radius: 30px;
	padding: 15px;
}

a
{
	padding: 15px;
}

div.conteneurtp2{
	display: flex;
	flex-direction: column;
}


h1.navigation{
	display: flex;
	justify-content: center;
	align-items: center;
}

a.navigation{
	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	text-decoration: none;
}