table{
	border: 3px solid #6495ed;
	width: 60%;
	background-color: #D0E3FA;
	margin: auto;

}

th{
	font-family: arial;
	font-size: 1.20em;
	text-align: center;
	border: 1px solid #000099;
	background-image: url('');
}
td
{
	font-family: verdana;
	font-size: 0.80em;
	text-align: center;
	border: 1px solid #000099;;
}

div.conteneurtp3{
	display: flex;
}

h1.navigation{
	display: flex;
	justify-content: center;
	align-items: center;
}

a.navigation{
	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	text-decoration: none;
}