body{
		margin: 0px;  
		padding: 0px;
		box-sizing: border-box;

}


/* on ne cible que la liste ul qui est un enfant direct de nav */

nav > ul {
			border: ;
			margin: 0px;
			padding: 0px;
		
}


/* on enlève les puces devant tous les éléments li appartenant à l'élément nav */

nav li{
		list-style-type: none;
}


/* on affiche seulement les éléments li correspondant à nos onglets de menu en ligne (côte à côte) */

nav ul{
		display: flex;
}


/* on cache les sous-menu */

.sous-menu{

			display: none;
}


/* on rend la case à cocher invisible */

nav input[type="checkbox"]{

							display: none;
}


/* on cache le bouton affichant le me mobile */

.menu-responsive{

					display: none;
}


/* étire le menu sur toute la longueur disponible et on donne une couleur de fond */

nav{

	width: 100%;
	background-color: #83A697; /*#8B6C42;*/
}


/* on affiche seulement les éléments li correspondant aux onglets de menu en ligne (côte à côte) */

nav > ul > div{

				display: flex;
				position: relative;
}


/* on fait un hack css : on ajoute un contenu nul à la fin de la liste principale et changer
 le type de display */

nav > ul::after{

					content: "";
					display: table;
					clear: both;

}


/* on change le type de display des éléments a en inline-block et on supprime le trait de soulignement */

nav a{

		display: inline-block;
		text-decoration: none;
}


/* on attribue une marge intérieur aux liens
	et une couleur des liens de menu pour qu'ils soient bien visibles*/


nav ul li a{

				padding: 20px 30px;
				background-color: ;
			
}


/* on veut que les sous-menu s'affichent lorsque l'utilisateur passe la souris*/

nav li:hover .sous-menu{
							display: inline-block;
							position: absolute; /* que chaque sous-menu s'affiche sous son onglet parent*/
							top: 100%; /* on positionne les sous-menus à certaine distance en haut */
							left: 0px; /* on positionne les sous-menus à gauche*/
							padding: 0px;  /* on élimine les padding */
							z-index: 100000; /* un z-index élevé pour que les sous-menus s'affichent bien 
												par dessus le reste du contenu de la page*/
}


/* on ajoute une bordure fine à chaque sous-menu*/

.sous-menu li{

				border-bottom: 1px solid red;
}


/* mise en forme des liens des sous-menu*/

.sous-menu li a{

					padding: 15px 30px;
					font-size: 13px;
					color: black;
					width: 270px;
}



/* ajout des bordures hautes épaisses sur chaque menu-projet 
	cette bordure n'apparait qu'au survol. 

	on attribue aussi une couleur de fond lorsque l'élément est survolé.*/

.menu-projet1:hover{

						border-top: ;
						background-color: ;
}


.menu-projet2:hover{

						border-top: ;
						background-color: ;
}


.menu-projet3:hover{

						border-top: ;
						background-color: ;
}


.menu-projet4:hover{

						border-top: ;
						background-color: ;
}


.menu-projet5:hover{

						border-top: ;
						background-color: ;
}


.menu-projet6:hover{

						border-top: ;
						background-color: ;
}



/* on modifie le padding des éléments lorsque l'élément est survolé */



nav ul li:hover a{

					padding: 15px 30px 20px 30px;
}



/* On rajoute de la couleur au sous-menu
	On change aussi la couleur du texte si la souris est au dessus ainsi que son poids */


.menu-projet1 .sous-menu{

							background-color: ;
}

.menu-projet2 .sous-menu{

							background-color: ;
}

.menu-projet3 .sous-menu{

							background-color: ;
}

.menu-projet4 .sous-menu{

							background-color: ;
}

.menu-projet5 .sous-menu{

							background-color: ;
}

.menu-projet6 .sous-menu{

							background-color: ;
}



/* dès qu'un utilisateur appuie sur le bouton, le menu entier s'affiche*/

nav input[type=checkbox]:checked ~ ul{

										display: block;
}  







main{
	
}  

section{

		display: flex;
		min-height: 430px;
}

aside{
		
		background-color: #8B6C42;
		min-height: 430px;
}

header, footer{

		background-color: #83A697;
		display: flex;
		flex-basis: auto;
}


header{

		justify-content: flex-end;
}

article{

			border: ;
			display: flex;
			justify-content: center;
			width: 70%;
			align-self: center;
			margin: auto;
			margin-bottom: 30px;
			font-size: 1.8em;
}


.copyright{

	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}








/* on rend le label invisible */

.menu-responsive{

					display: none;
}


/* on rend la case à cocher invisible */

nav input[type=checkbox]{
							display: none;
}

	
/* lorsque la case est cochée (dès qu'un utilisateur appuie sur le bouton), le menu
   entier s'affiche */

nav input[type=checkbox]:checked ~ ul{

										display: block;
}



/* on modifie le style du menu pour son affichage responsive */

@media screen and (max-width : 680px){

	.menu-responsive{

		display: block;
		color: ;
		background-color: ;
		text-align: center;
		padding: 12px 0px;
	}


	nav ul{
			display: none;
	}

	nav ul li, nav ul li a{

			width: 100%;
			text-align: center;
	}

	nav ul li a, nav ul li:hover a{

			padding: 10px, 0px, 10px, 0px;
	}

	nav li:hover .sous-menu{

			display: block;
			position: static;
	}


}
				