
h1.pied, h1.titre{
	background-color: #83A697;
	color: #000000;
	font-size: ;
	font-family: ;
	border: solid 2px #000000 ;   /* cadre des titres h1 */
	border-radius: ;
	height: 50px;  /* taille du cadre des titres h1 */
	display: block;
	text-align: center;
	margin: 0px 0px 20px 0px;
}

section
{
	width: 30%;
	height: 400px;
	float: left;
	border: solid 2px #000000 ;
	border-radius: 6px;
	margin: 20px  /* espace les trois block */
}

header
{
	margin-top: 1em;
	margin-bottom: 1em;

}

footer
{
	clear: both;
	background-color: #F0FFFF;
	height: 40px;
}

.section1{
	background-color: #E1CE9A;
}

.section2{
	background-color: #FEE7F0;
}

.section3{
	background-color: #F0FFFF;
}

.article3{
	color: red;
}
.particle1{
	text-align: justify;
	padding: 10px;
}

.particle2{
	text-align: justify;
	padding: 10px;
}

#imagearticle3{

}

div.conteneurtp1{
	display: flex;
}

h1.navigation{
	display: flex;
	justify-content: center;
	align-items: center;
}

a.navigation{
	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	text-decoration: none;
}

p.imagetp1{
	display: flex;
	justify-content: center;
}

